################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/EVEScanHelper/bin/*
/EVEScanHelper/obj/*
/packages
